{% extends 'base.html.twig' %}

{% block title %}Hello RecipeController!{% endblock %}

{% block body %}

    
    <div class="container bg-light mt-2">
    <h3 class="text-center pt-3 pb-3 text-primary">Recettes</h3>
        <div class="d-flex  justify-content-center">
            {{ form_start(form, {'attr': {'class': 'text-center'}}) }}
            {{ form_label(form.category) }}
            <div class="d-flex  justify-content-center">
                {{ form_widget(form.category, {'attr': {'class': 'text-primary border-secondary bg-light rounded'}}) }}
                <button class="filter btn btn-secondary btn-lg mx-1 text-light">Filtrer</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="container bg-light">
        <div class="row">
            {% for recipe in recipes %}
                <div class=" col-xl-4 col-lg-6 data-card my-2">
                    <a class="card shadow" href="{{ path('recipes_show', {'id': recipe.id}) }}">
                        <img class="card-img-top" src="https://picsum.photos/200/300" alt="Card image cap">
                        <div class="card-body">
                            <p class="text-center">{{recipe.name}}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
