<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a href="{{ path('home') }}"><img src="{{ asset('build/images/logo.png') }}" alt="logo" class="navbar-logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mx-2">
                <div class="nav-item">
                    <a class="nav-link text-primary" href="{{ path('recipe')}}">
                        Recettes
                    </a>
                </div>
            </ul>
            {% if is_granted('IS_AUTHENTICATED_FULLY')  %}
                <a class="text-primary">{{app.user.name}}</a>
                <div class="nav-item">
                    <a class="nav-link mx 3 text-primary" href="{{ path('app_logout')}}">
                        Déconection
                    </a>
                </div>
            {% else %}

                <div class="nav-item">
                    <a class="nav-link text-primary" href="{{ path('app_register')}}">
                        Inscription
                    </a>
                </div>
                <div class="nav-item">
                    <a class="nav-link mx 3 text-primary" href="{{ path('app_login')}}">
                        Connexion
                    </a>
                </div>
            {% endif %}


        </div>
    </div>
</nav></nav>
