{% extends 'base.html.twig' %}

{% block title %}Recipe
{% endblock %}

{% block body %}

    <div class='container bg-white px-0 mt-2'>
        <img class="imgShow w-100" src="{{ vich_uploader_asset(recipe) }}" alt="Card image cap">
        <div class='container'>
            <h2 text-center>{{ recipe.name }}</h2>
            <p>Cuisson
                {{ recipe.cookingTime }}
                min</p>
            <p>Préparation
                {{ recipe.preparation }}
                min</p>
            <p>Niveau :{{ recipe.level }}</p>
            <p>{{ recipe.peuple }}
                personnes</p>
            <h2>Déscription :</h2>
            <p>{{ recipe.description }}</p>
            <a href="{{ path('recipes_index') }}">retour</a>
        </div>
    </div>


{% endblock %}
